<section id="main-content">
  <section class="panel">
   <div class="col-lg-12">
     <section class="panel" style= padding-top:5px;>
        <header class="panel-heading" style="background:#2a3542;height:50px;color:#ffffff;">
          <bold><h4>Edit Project Details</h4></bold>
        </header>
       <%= form_for @project, :url => project_detail_update_user_employees_path(current_user,:projectdetail => @project.id) do |f| %>

         <div class="panel-body">
             <div class="form" >
               <% if @project.errors.any? %>
                 <div id="error_explanation" class ="alert alert-danger">
                   <ul>
                     <% @project.errors.full_messages.each do |message| %>
                     <li><%= message %></li>
                     <% end %>
                   </ul>
                  </div>
               <% end %>

                <div class=" form col-lg-9">
                  <form class="cmxform form-horizontal tasi-form" id="commentForm" method="get" action="">
                       <div class="form-group ">
                          <label class="col-lg-3 control-label"> Project Name* </label>
                             <div class="col-lg-8">
                                <%= f.text_field :project_name, :class=>"form-control",:required => true%></br>
                              </div>
                        </div>    
    
                        <div class="form-group ">
                           <label class="col-lg-3 control-label"> Your Role* </label>
                             <div class="col-lg-8">
                                 <%= f.text_field :your_role,  :class=>"form-control",:required => true%></br>
                              </div>
                        </div>      
    
                        <div class="form-group ">
                          <label class="col-lg-3 control-label"> Project URL </label>
                             <div class="col-lg-8">
                                <%= f.text_field :project_url,  :class=>"form-control"%></br> 
                              </div>
                        </div> 

                        <div class="form-group ">
                          <label class="col-lg-3 control-label"> Project Duration* </label>
                             <div class="col-lg-8">
                                <%= f.date_select :project_duration ,{order: [:year,:month,:day,], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 0, end_year: Date.today.year - 100 }, {required: true} %><br /><br/>

                              </div>
                        </div>   

                      <div class="form-group ">
                          <label class="col-lg-3 control-label"> Project Description* </label>
                            <div class="col-lg-8">
                               <%= f.text_area :project_desc, :rows=>4, :cols=>25,  :class=>"form-control",:required => true%></br> 
                            </div>
                        </div> 

                         <div class="form-group ">
                           <label class="col-lg-3 control-label"> Technical Stack </label>
                             <div class="col-lg-8">
                               <%= f.text_field :technical_stack,  :class=>"form-control"%></br> 
                             </div>
                          </div>

                          <div class="form-group ">
                             <label class="col-lg-3 control-label"> Client Name </label>
                              <div class="col-lg-8">
                                <%= f.text_field :client_name,  :class=>"form-control"%></br> 
                              </div>
                          </div>


                           <div class="form-group ">
                             <label class="col-lg-3 control-label"> Company Name* </label>
                               <div class="col-lg-8">
                                 <%= f.text_field :comp_name,:class=>"form-control",:required => true %></br> 
                               </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-8">
                                  <center><button class="btn btn-warning" type="back">Back</button>
                                  <button class="btn btn-danger" type="submit">Save Project Details</button>
                                 </center>
                              </div>
                           </div>
                      </form>
                  </div>
                </div>
             </div>
         <% end %>
      </section>
    </div>
  </section>
</section>

