<section id="main-content">
  <section class="panel">
    <div class="col-lg-12">
      <section class="panel" style= padding-top:5px;>
        <header class="panel-heading" style="background:#2a3542;color:#ffffff;">
          <bold>
            <h4>Client contact Details</h4>
          </bold>
        </header>
        <%= form_for [current_user, current_user.build_client_contact_detail], :url =>  client_contact_details_create_user_sales_path(current_user) do |f| %>
        <div class=" col-lg-3">
        </div>
        <div class="panel-body">
          <div class=" form">
            <% if @contact_detail.errors.any? %>
            <div id="error_explanation" class ="alert alert-danger">
              <ul>
                <% @contact_detail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
            <div class=" form col-lg-9">
              <form class="cmxform form-horizontal tasi-form" id="commentForm" method="get" action="">
                <div class="form-group ">
                  <label class="col-lg-3 control-label"> Skype Id</label>
                  <div class="col-lg-8">
                    <%= f.text_field :skype_id ,:class=>"form-control" %><br />
                  </div>
                </div>
                  <div class="form-group ">
                    <label class="col-lg-3 control-label"> Personal Email Id:*</label>
                    <div class="col-lg-8">
                      <%= f.text_field :personal_email_id, :class=>"form-control" , :value => (current_user.email if current_user.email.present? || f.object.new_record? ),:readonly => true %><br/>
                    </div>
                  </div>
                <div class="form-group ">
                  <label class="col-lg-3 control-label"> Official Email Id:*</label>
                  <div class="col-lg-8">
                    <%= f.text_field :official_email_id ,:class=>"form-control", type:"Email" %><br />
                  </div>
                </div>
                <div class="form-group ">
                  <label class="col-lg-3 control-label"> Phone No:*</label>
                  <div class="col-lg-8">
                    <%= f.text_field :phone_no, :class=>"form-control" %><br /><br />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-8">
                    <center><button class="btn btn-danger" type="submit">Save Client Contact Details</button></center>
                  </div>
                </div>
              </form>
            </div>
          </div>
          </ul>
        </div>
        <% end %>
      </section>
    </div>
  </section>
</section>


